@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
#home_button {
    text-decoration: underline;
    color: deeppink;
}
.learn_more_button {
    background-color: deeppink;
    margin-left: 45%;
}
.content {
    height: 598px;
}
h2 {
    letter-spacing: 15px;
}

a:hover {
    background-image: linear-gradient(-45deg, #fb0054 0%, deeppink 100%)
}